nav {
  border: $elements-color solid 1px;
  border-radius: $circle-radius;
  left: 5em;
  top: 3em;
  animation-delay: 3.3s !important;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  margin: 0.7em;
}

li:nth-child(2) {
  border-top: $elements-color dotted 1px;
}

.my-logo {
  border: $elements-color solid 1px;
  border-radius: $circle-radius;
}
